.blog-post{
    margin-left: 5rem;
    margin-right: 5rem;
    border: 0.5px solid black;
    border-radius:5px;
    padding: 1rem;
}

.blog-post:hover{
    box-shadow: 0 0 5px black;
    cursor: pointer;
    color: #8bc435;
}

main{
    padding: 1rem;
}

.post{
    padding: 1rem;
}

img{
    width: 100%;
}