{% extends 'base.html' %}

{% load static %}

{% block title %}meinTrainingsplan.ch - Blog {% endblock %}

{% block description %}meinTrainingsplan.ch Blog Page {% endblock %}

{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<script>
    $(document).ready(function(){
        $('.blog-post').click(function(){
            var full_class = $(this).attr('class');
            full_class = full_class.split(' ')[1];
            console.log(full_class);
            window.location.href = full_class;
        });
    })
</script>
{% endblock %}

{% block content %}
{% for post in post_list %}
<div class="blog-post {{ post.id }} col-sm-8">
<img class="post-image" src="{{ post.main_image.url }}">
<h1>{{post.title}}</h1>
    {{ post.description }}
</div>
{% endfor %}
{% endblock %}