{% load static %}

<html lang="en" class="no-js">
    <!--<![endif]-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <link rel="canonical" href="https://www.meintrainingsplan.ch/"/>
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta property="og:type" content="website">
        <meta property="og:title" content="meintrainingsplan.ch - dein Ziel, unser Plan" />
        <meta property="og:image" content="https://www.meintrainingsplan.ch/media/1038/meintrainingsplanlogo.png" /><!--TODO-->
        <meta property="og:url" content="https://www.meintrainingsplan.ch/" />
        <meta property="og:description" content="" />
        <meta property="og:site_name" content="meintrainingsplan.ch" />
        <!-- WEB FONT -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
        <!-- STYLESHEETS -->  <!-- Font Awesome Icons -->
  <link href="{% static 'css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'js/jquery.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'js/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/creative.min.js' %}"></script>
  <!-- Plugin CSS -->
  <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">

        {% block additional_css %}{% endblock %}

  <!-- Theme CSS - Includes Bootstrap -->
  <!--<link href="{% static 'css/creative.min.css' %}" rel="stylesheet">-->
  <link href="{% static 'css/creative.css' %}" rel="stylesheet">

        <script>
            $(document).ready(function(){
                console.log($('nav').css('height'));
                $('.top').css('height', $('nav').css('height'));
            })
        </script>
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
            {% for page in pages %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ page.url }}">{{ page.name }}</a>
          </li>
            {% endfor %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!--Masthead-->
  {% block header %}
  {% endblock %}


  <!--Content -->
  <main class="main">
      <div class="top"></div>
      {% block content %}
      {% endblock %}
  <!-- About Section -->

</main>
  <!-- Footer -->
  <footer class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted">Copyright &copy; 2019 - Start Bootstrap</div>
    </div>
  </footer>
</body>
</html>